.admin-table-report {
  margin: 10px 0;
  font-size: 15px;
  text-align: center;

  .MuiTableCell-root {
    font-size: 15px !important;
  }
}

.stats-section {
  margin-top: 10px;
}

.table-header {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  margin: 20px 0 5px;
  padding: 5px;
  border-radius: 7px 7px 0 0;
}

.admin-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;

  th, td {
    text-align: center;
    height: 30px;
  }

  tr:last-child {
    td {
      color: #3D5A6C;
      font-weight: bold;
      border-top: 1px solid lightgray;
    }
  }
}

.filter-button {
  color: #3D5A6C !important;
  border: 1px solid lightgray !important;
  border-radius: 20px !important;
  line-height: 1 !important;
  padding: 10px 20px !important;
  margin: 0 auto !important;
  transition: 0.3s ease !important;
  max-width: 120px !important;
  min-width: 120px !important;
  height: auto !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;

  &.calc-button {
    max-width: 150px !important;
    min-width: 150px !important;
  }

  &:hover {
    background-color: #3d5a6c47 !important;
  }
}




.dashboard-chart-container img {
  max-width: 90px;
}

.time-description {
  font-size: 13px;
  text-align: right;
  margin-top: 10px;
}

.all-events-section, .hacknight-only-section {
  margin-top: 10px;
  background-color: #a2aab0; 
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
}

.table-header {
  background-color: #f5f5f5;
}

.bold-text {
  font-weight: bold !important;
}

