
:root {
  --amplify-primary-color: #fa114f;
  --amplify-primary-tint: #fb2961;
  --amplify-primary-shade: #e10f47;
}

amplify-authenticator {
  --container-align: inherit;
}

.title-short {
  font-size: 72px;
}
