.app {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.app-container {
  position: relative;
  height: 100%;
  max-width: 500px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(250, 17, 79);
  margin-bottom: 10vh;
  overflow: hidden;
}

.main {
  height: 100%;
}

.flexcenter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
