.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.app-container {
  height: 100vh;
  max-width: 600px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
}

.main {
  height: 80vh;
}

.flexcenter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
