@import "sass/_main.scss";

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-container {
  max-width: 414px;
  width: 100%;
  min-width: 320px;
  height: 896px;
  position: relative;
  border: 1px solid $border-color;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  border-radius: 30px;
}

.app-main {
  height: 628px;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  // Hide scrollbar using overflow-y: scroll
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    &::-webkit-scrollbar { /* WebKit */
      display: none;  /* Safari and Chrome */
    }
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 70px 40px 40px;
  text-align: left;
}

@media (max-height: 900px) {
  .app-container {
    height: 95vh;
  }

  .app-main {
    height: calc(95vh - 160px);
  }

  .flex-container {
    height: calc(95vh - 160px);
  }
}

@media (max-height: 896px) and (max-width: 420px) {
  .app-container {
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .app-main {
    height: calc(100vh - 160px);
  }

  .flex-container {
    height: calc(100vh - 160px);
  }
}

@media (max-width: 400px) {
  .flex-container {
    padding: 60px 25px 20px;
  }
}

@media (max-width: 374px) {
  .app-main {
    height: calc(100vh - 170px);
  }

  .flex-container {
    height: calc(100vh - 170px);
  }

  h2 {
    font-size: 22px;
  }
}

@media (max-width: 350px) {
  .flex-container {
    padding: 40px 15px 20px;
  }
}
