@import "sass/_main.scss";

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-container {
  max-width: 414px;
  width: 100%;
  min-width: 320px;
  max-height: 896px;
  height: 100vh;
  border: $border-primary;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
