# vscode dirs
.devcontainer
.vscode

# project dirs and files
node_modules/
npm-debug.log
.DS_Store
/*.env
client/.env
.env
/.idea
test.db
videos/
screenshots/
vrms.code-workspace
.vscode/
backend/swagger-output.json
.env.test