@import "../../../sass/variables";

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 30px;
  height: 54px;

  .text-block {
    span {
      font-weight: $font-bold;
    }
  }
}

.inner-footer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 40px;
  .text-block {
    font-size: 13px;
    line-height: 20px;
    text-align: left;
  }
}


@media (max-height: 896px) {
  .app-footer,
  .inner-footer {
    padding: 10px 0;
    height: 35px;
  }

  .inner-footer {
    padding: 10px 20px;
  }
}

@media (max-width: 414px) {
  .inner-footer {
    padding: 5px 10px 0;
  }
}

@media (max-width: 374px) {
  .app-footer, .inner-footer {
    height: 45px;
    padding: 5px 0 0 0;
  }
}

@media (max-width: 320px) {
  .inner-footer {
    padding: 0 10px;
    height: 30px;
  }
}
