/*** This file store any mixins (style snippets) that will be used over and over ***/

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin transition-delay($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

/*** Animation ***/
@mixin fade-in($property) {
  -webkit-animation: fade-in $property;
  animation: fade-in $property;
}

@mixin fade-out($property) {
  -webkit-animation: fade-out $property;
  animation: fade-out $property;
}
