@import "../../../sass/variables";

.code-of-conduct-container {
  height: 517px;
  margin: 0 30px;
  border: 1px solid $dark-secondary-color;
  border-radius: 6px 6px 0 0;
  padding: 30px 10px 10px 25px;

  h5 {
    font-weight: $font-regular;
    margin-bottom: 5px;
    text-align: left;
  }

  .code-of-conduct-content {
    display: block;
    padding-right: 10px;
    height: 450px;
    text-align: left;

    p, li, span {
      margin: 5px 0;
      line-height: 20px;
      font-size: 12px;
    }

    h2, h3 {
      margin: 15px 0;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }

    ol li{
      list-style-type: decimal;
      margin-left: 20px;
    }

    a {
      color: $accent-royal-blue-color;
      font-weight: $font-semi-bold;
      font-size: 12px;
    }
  }
}

.code-of-conduct-buttons {
  margin: 0 30px 20px;
  border: 1px solid $dark-secondary-color;
  border-top: none;
  border-radius: 0 0 6px 6px;

  input[type=button] {
    line-height: 20px;
    padding: 22px 5px;
    width: 50%;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: $font-semi-bold;
    font-size: 20px;
    color: $accent-royal-blue-color;
    transition: .2s ease;

    &:first-child {
      border-right: 1px solid $dark-secondary-color;
      border-radius: 0 0 0 6px;
    }

    &:last-child {
      border-radius: 0 0 6px 0;
    }

    &:focus, &:hover {
      outline: none;
      background-color: $concrete-color;
    }
  }
}

@media (max-height: 740px) and (max-width: 420px) {
  .code-of-conduct-container {
    height: 445px;
  }

  .code-of-conduct-container .code-of-conduct-content {
    height: 375px;
  }
}

@media (max-height: 740px) and (max-width: 400px) {
  .code-of-conduct-container {
    height: 390px;
  }

  .code-of-conduct-container .code-of-conduct-content {
    height: 314px;
  }
}

@media (max-height: 620px) and (max-width: 896px), (max-width: 350px) {
  .code-of-conduct-container {
    height: 280px;
  }

  .code-of-conduct-container .code-of-conduct-content {
    height: 217px;
  }

  .code-of-conduct-buttons input[type=button] {
    font-size: 17px;
  }
}
