// COLOR PALETTE VARIABLES
$light-primary-color: #FFFFFF;
$light-secondary-color: #F2F2F2;
$dark-primary-color: #000000;
$dark-secondary-color: #3D5A6C;
$dark-gray-primary-color: #32373B;
$dark-gray-secondary-color: #4A5859;
$light-gray-primary-color: #D6D3CE;
$accent-primary-color: #FA114F;
$accent-secondary-color: #F4B860;

// FONT COLOR
$font-color-primary: $dark-primary-color;

// HEADER COLORS
$header-main-dark-color: $dark-primary-color;
$header-secondary-dark-color: $dark-secondary-color;
$header-secondary-light-color: $light-gray-primary-color;

// BUTTON COLORS
$button-primary-bg-color: $dark-secondary-color;
$button-primary-color: $light-primary-color;
$button-secondary-bg-color: $light-primary-color;
$button-secondary-color: $dark-secondary-color;

// LINK COLORS
$link-color: $dark-primary-color;
