@import "../core/_fonts";

// TYPOGRAPHY VARIABLES
// Font main styles
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$line-height: 20px;
$letter-sp: 0.5px;
$font-regular: normal;
$font-bold: bold;
$font-semi-bold: 600;

// Header styles
// Main Page Header (h1)
$header-h1-size: 1.72em;  // 24px
$header-h1-line-height: 1;
$header-h1-letter-sp: 0.045em;
$header-h1-text-transform: uppercase;

// Header Font Weights
$header-bold: $font-bold;
$header-semi-bold: $font-semi-bold;

// Header Sizes
$header-h2-size: 1.72em;  // 24px
$header-h3-size: 1.29em;  // 18px
$header-h4-size: 1.07em;  // 15px
$header-h5-size: 1em;  // 14px
