// This file store main styles for all app
// Should be activated after removing styles from index.scss

@import "./_variables";

// *** NEW UI MAIN STYLES ***
* {
  box-sizing: border-box;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

body{
  margin: 0;
  font-family: $font-primary;
  color: $font-color-primary;
  font-size: $font-size-primary;
  line-height: 1;
  overflow: hidden;
}

code {
  font-family: $font-primary;
}

h1, h2, h3, h4, h5{
  font-size: $header-main-size;
  color: $header-main-dark-color;
  line-height: $header-main-line-height;
  font-weight: $header-main-font-weight;
}

h1{
  text-transform: $header-main-text-transform;
  letter-spacing: $header-main-letter-spacing;
}

h2{
  font-size: $header-section-size;
  color: $header-secondary-dark-color;
}

h3{
  font-size: $header-medium-size;
  &.medium-secondary-light-header{
    color: $header-secondary-light-color;
  }
  &.medium-secondary-dark-header{
    color: $header-secondary-dark-color;
    font-weight: $header-secondary-font-weight;
  }
}

h4{
  font-size: $header-small-size;
  text-transform: $header-main-text-transform;
}

h5{
  font-size: $header-extra-small-size;
  font-weight: $header-secondary-font-weight;
}

p, span{
  line-height: $line-height-primary;
  letter-spacing: $letter-sp-primary;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $link-color;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  line-height: $link-line-height;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
// ***END NEW UI STYLES***
