.check-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-in-headers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 400px;
    max-width: 400px;
}

.check-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-in {
    width: 400px;
    max-width: 400px;
}

.form-row {
    max-width: 400px;
    width: 400px;
    margin: 6px 0px;

    p {
        text-align: left;
    }
}

.form-input-text {
    display: flex;
    flex-direction: column;
}

label {
    max-width: 400px;
    width: 400px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

input[type=text], input[type=email] {
    max-width: 400px;
    width: 400px;
    height: 36px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 32px;
}

.form-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 2px;
}