.list-event-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px 6px 6px 6px;
    margin: 0px 6px 18px 6px;
    border-bottom: 2px solid #FAFAFA;
}

.list-event-headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.event-name {
    font-size: 28px;
    margin: 6px 0px;
}

.event-info {

}

.event-info-container {

}

.event-info-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 6px 0px;
}

.event-details-container {

}

.event-info-text {
    margin: 0px 0px 0px 12px;
}

    
