.footer {
    display: flex;
}

.footer-text {
    font-size: 9px;
}

.footer-greeting {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}