.container--ManageProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 200px;
}

.project-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-list-item {
  margin-bottom: 5px;
}

.project-sub-heading {
  margin: 20px 0 20px 0;
}
