.container--ManageProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 200px;
}

.project-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-list-item {
  margin-bottom: 5px;
}

.project-list-heading {
  margin: 20px 0;
  font-size: 18px;
}

.project-sub-heading {
  margin: 20px 0 20px 0;
}

div.editable-field {
  font-weight: normal;
  font-size: 18px;
  max-width: none;
  width: 400px;
}

.editable-field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.editable-field-div {
  margin-top: 20px;
}

.section-name {
  font-size: 16px;
}

.section-content {
  font-size: 14px;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}

.project-edit-button {
  color: #FA114F;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif
}

.button-edit {
  background-color: black;
  width: 150px;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.display-events {
  margin-top: 15px;
  margin-bottom: 10px;

}

// create new event form on createNewEvent.js
.event-form-box {
  min-width: 100%;
  padding: 10px;
  margin-top: 5px;
  position:relative; 
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.event-form-box .event-form-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-form-box input, textarea {
  display: block;
  width: 100%;
  padding: 2px 0 15px 10px;
  margin: 5px 0 ;
  border:1px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}

.event-form-box select {
  color: black;
  width: 140px;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 0px;
  margin: 12px;
}

.event-form-box textarea{
  height: 25px;
}

.event-form-box label {
  font-size: 15px;
  display: block;
}

.button-box {
  margin-top: 10px;
}

.createBtn, .cancelBtn {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 5px 10px 0 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button-create-event {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
  cursor: pointer;
}
