.nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    z-index: 1;
}

.navbar {
    position: relative;
    flex: 1;
    display: flex;
    padding: 20px;
    z-index: 1;
    justify-content: center;
}

.home-link-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.navbar-buttons-container {
    font-size: 16px;
    position: absolute;
    display: flex;
    top: 36px;
    left: 12px;

    a {
        margin: 0px 18px 0px 0px;
        
        p {
            font-weight: 600;
        }
    }
}

.navbar-logo {
    height: 75px;
    justify-self: center;
    align-self: flex-start;
    will-change: transition;
    transition: all .3s ease-in-out;

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

.justify-right {
    position: absolute;
    top: 12px;
    right: 0px;
}

.grow {
    transform: scale(2);
    padding-top: 12px;
}

@media (max-width: 500px) {
    .navbar-logo {
        height: 60px;
    }
}
