
.container--UserManagement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-bottom: 200px;
}

.edit-users {
    margin-top: 50px;
}

.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: circle;
}

