@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
// FONTS
$font-title: 'Source Code Pro';
$font-body: 'Source Sans Pro';

// COLOR PALETTE VARIABLES
$color-primary: #00008B;
$color-primary-accent: #0000c0;
$color-secondary: #fa114f;
$text: black;
$text-light: white;

// COLOR BORDERS
$dark: black;

// ELEMENT BACKGROUNDS
$bg-light-gray: #F5F5F5;
$bg-light-gray-hover: #b9b9b9;

