@import "../../sass/variables";

.login {
  padding: 40px 60px;

  .text-field-container {
    margin-top: 76px;
  }

  .login-button {
    margin: 50px 10px 20px auto;
  }

  .error-message {
    margin: 25px 10px 10px;

    .redirect-link {
      color: $link-accent-color;
    }
  }
}

@media (max-width: 400px) {
  .login {
    padding: 25px 52px;

    .login-button {
      margin: 40px 0 20px auto;
    }

    .error-message {
      margin: 25px 0 10px;
    }

    .text-field-container {
      margin-top: 55px;
    }
  }
}

@media (max-width: 350px) {
  .login {
    padding: 15px 25px;

    .text-field-container {
      margin-top: 25px;
    }
    .login-button {
      margin: 15px 0 10px auto;
    }
    .error-message {
      margin: 20px 0 5px;
    }
  }
}
