.tab-header{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  li{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: 0;
    padding: 10px;
    border-bottom: 2px solid #eee;
    transition: all .5s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: #aaa;
    &.selected{
      border-bottom: 2px solid #337ab7;
      color: #444;
      font-weight: bold;
    }
  }
}

.tab{
  width: 100%;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}
