@import "../variables/colors";
@import "../variables/typography";
@import "../variables/elements";

button{
  font-size: $button-primary-font-size;
  color: $button-primary-color;
  background-color: $button-primary-bg-color;
  border: 1px solid $border-color;
  border-radius: 40px;
  line-height: 1;
  padding: 7px 37.5px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  &:hover{
    background-color: $light-secondary-color;
    border: 1px solid $light-secondary-color;
  }
}

.btn-square{
  @extend button;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: $font-bold;
  font-size: 15px;
  letter-spacing: $letter-sp;
  background-color: $button-primary-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 10px;
  line-height: 20px;
  &:hover{
    background-color: $button-primary-color;
    color: $button-primary-bg-color;
  }
  margin: 10px auto;
}
