@import "../variables";

button {
  font-size: $button-primary-font-size;
  color: $button-primary-color;
  background-color: $button-primary-bg-color;
  border: 1px solid $border-color;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  &:hover{
    background-color: $concrete-color;
  }
}

.btn-accent {
  @extend button;
  color: $button-accent-color;
  background-color: $button-accent-bg-color;
  border-color: $button-accent-bg-color;
  &:hover {
    background-color: $concrete-color;
    border-color: $border-color;
    color: $button-primary-color;
  }
}

.btn-square {
  @extend button;
  font-size: 18px;
  border-radius: 0;
  text-transform: none;
  font-weight: $font-bold;
  padding: 10px 25px;
}

.btn-confirm {
  @extend button;
  font-size: 16px;
  text-transform: none;
  padding: 13px 28px 12px 58px;
  border-radius: 6px;
  position: relative;
  .btn-icon {
    position: absolute;
    left: 12px;
    top: 11px;
  }
}
