@import "../variables/colors";
@import "../variables/typography";
@import "../variables/elements";

button{
  font-size: $button-primary-font-size;
  color: $button-primary-color;
  background-color: $button-primary-bg-color;
  border: 1px solid $button-primary-bg-color;
  border-radius: 20px;
  letter-spacing: $letter-sp;
  line-height: 1;
  padding: 9px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  &:hover{
    background-color: $button-primary-color;
    color: $button-primary-bg-color;
  }
}

.btn-square{
  @extend button;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: $font-bold;
  color: $button-secondary-color;
  background-color: $button-secondary-bg-color;
  border: 1px solid $button-secondary-color;
  padding: 11px 7px;
  line-height: 20px;
  &:hover{
    background-color: $button-secondary-color;
    color: $button-secondary-bg-color;
  }
  margin: 10px auto;
}
