@import '../variables';

.text-field-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 246px;
  width: 246px;

  input {
    width: 246px;
    font-size: 16px;
    line-height: 20px;
    color: $dark-primary-color;
    padding: 10.5px 30px;
    border: 1px solid $dark-secondary-color;
    &::placeholder {
      color: $gray-color;
    }
    &:focus {
      border: 1px solid $dark-primary-color;
      outline: none;
    }
  }
}

.text-field-icon-container {
  @extend .text-field-container;
  position: relative;
  max-width: 290px;

  input {
    padding: 15.5px 13px 15.5px 50px;
    line-height: 22px;
  }

  .text-field-icon {
    width: 27px;
    height: auto;
    position: absolute;
    left: 14px;
    top: 14px;
  }
}

.radio-button-container {
  display: inline-flex;
  cursor: pointer;
  margin: 0px 10px 22px 0px;
  .actual-radio-button {
    display: none;
    &:checked ~ .custom-radio-button {
      &:after {
        transform: scale(1);
      }
    }
  }
}

.custom-radio-button {
  width: 17px;
  height: 17px;
  border: 1px solid $radio-button-color;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 3.25px;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: $silver-color;
    border-radius: 50%;
    transform: scale(0);
  }
}

.custom-small-radio-button {
  @extend .custom-radio-button;
  width: 13px;
  height: 13px;
  padding: 2.25px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid $dark-primary-color;
  border-radius: 3px;
  cursor: pointer;
}

input[type='checkbox']:checked + span {
  background: $accent-royal-blue-color -19px top no-repeat;
  border-color: $accent-royal-blue-color;
}

input[type='checkbox'] + span {
  margin-right: 4px;
}
