@import '../variables';

.text-field-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 246px;
  width: 246px;

  input {
    width: 246px;
    font-size: 16px;
    line-height: 20px;
    color: $dark-primary-color;
    padding: 10.5px 30px;
    border: 1px solid $dark-secondary-color;
    &::placeholder {
      color: $gray-color;
    }
    &:focus {
      border: 1px solid $dark-primary-color;
      outline: none;
    }
  }
}

.text-field-icon-container {
  @extend .text-field-container;
  position: relative;
  max-width: 290px;

  input {
    padding: 15.5px 13px 15.5px 50px;
    line-height: 22px;
  }

  .text-field-icon {
    width: 27px;
    height: auto;
    position: absolute;
    left: 14px;
    top: 14px;
  }
}

.radio-button-container {
  display: inline-flex;
  cursor: pointer;
  margin: 0px 10px 22px 0px;
  .actual-radio-button {
    display: none;
    &:checked ~ .custom-radio-button {
      &:after {
        transform: scale(1);
      }
    }
  }
}

.custom-radio-button {
  width: 17px;
  height: 17px;
  border: 1px solid $radio-button-color;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 3.25px;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: $silver-color;
    border-radius: 50%;
    transform: scale(0);
  }
}

.custom-small-radio-button {
  @extend .custom-radio-button;
  width: 13px;
  height: 13px;
  padding: 2.25px;
}

.checkbox-wrapper {
  margin-bottom: 15px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid $dark-primary-color;
  border-radius: 3px;
  cursor: pointer;
}

input[type='checkbox']:checked + span {
  background: $accent-royal-blue-color -19px top no-repeat;
  border-color: $accent-royal-blue-color;
}

input[type='checkbox'] + span {
  margin-right: 4px;
}

.text-field-rounded-icon-container {
  @extend .text-field-container;
  position: relative;
  margin-bottom: 32px;
  input {
    max-width: 230px;
    border: 2px solid $rounded-input-color;
    border-radius: 30px;
    padding: 6px 45px 7px 21px;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 14px;
    &:focus {
      border: 2px solid $rounded-input-color;
    }
    &::placeholder {
      color: $gray-color;
    }
  }
  .text-field-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18px;
    top: 7px;
  }
}
div.skill-input-container {
  input[type="text"] {
    border: none;
    border-bottom: 1px solid $dark-primary-color;
    padding: 6px;
    padding-right: 27px;
    &:focus{
      outline: none;
    }
  }
  .input-plus {
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
  }
  margin: 0 auto 32px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 230px;
}

.required-asterisk::after {
  color: #e32;
  content: ' *';
  display:inline;
  position: absolute;
  left: 6px;
  top: 6px;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.skill-item {
  padding: 5px 7px;
  margin-top: 10px;
  border: 1px solid $dark-primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 105px;
  span:first-child {
    padding-right: 6px;
  }
}
.skill-item-X-btn {
  cursor: pointer;
  display: inline-block;
  transform: rotate(45deg);
  svg{
    width: 13px;
    height: 13px;
  }
}