@import "../variables";
@import "../core/_keyframes";

.menu-button-container {
  display: block;
  position: absolute;
  left: 24px;
  top: 30px;

  .menu-button {
    padding: 10px;

    .line{
      width: 20px;
      height: 1px;
      background-color: black;
      display: block;
      margin: 7px auto;
      @include transition(all 0.3s ease-in-out);
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      .line:nth-child(2){
        opacity: 0;
      }

      .line:nth-child(1),
      .line:nth-child(3) {
        height: 6px;
        width: 28px;
        border-radius: 3px;
      }

      .line:nth-child(1) {
        @include transform(translateY(8px) rotate(45deg));
      }

      .line:nth-child(3) {
        @include transform(translateY(-13px) rotate(-45deg));
      }
    }
  }
}

.menu-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: .2s ease;

  .menu-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }

  .menu-name {
    font-size: $menu-font-size;
    line-height: $menu-line-height;
    letter-spacing: $menu-letter-sp;
    margin-left: 17px;
  }

  &:hover {
    border-bottom: 2px solid $dark-primary-color;
  }
}
