@import "../variables";

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  .progress-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $progress-item-default-color;
    margin: 0 6px;

    &.active {
      background-color: $progress-item-active-color;
    }
  }
}
