@import "../variables";

body {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-regular;
  color: $font-color;
  font-size: $font-size;
  line-height: 1;
  overflow: hidden;
}

code {
  font-family: $font-family;
}

h1, h2, h3, h4, h5 {
  color: $header-color;
  font-style: $font-regular;
  line-height: 1;
  letter-spacing: 0;
}

h1 {
  font-size: $h1-size;
  text-transform: $h1-text-transform;
  letter-spacing: $h1-letter-sp;
  font-weight: $h1-weight-bold;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight-semi-bold;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight-bold;
}

h4 {
  font-size: $h4-size;
  text-transform: $h4-text-transform;
  font-weight: $h4-weight-bold;
  line-height: $h4-line-height;
}

h5 {
  font-size: $h5-size;
  letter-spacing: $h5-letter-sp;
  font-weight: $h5-weight-semi-bold;
  line-height: $h5-line-height;
}

p, span {
  line-height: $line-height;
  letter-spacing: $letter-sp;
}

a {
  margin: 0;
  padding: 0;
  color: $link-color;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: $h2-weight-bold;
}

.regular {
  font-weight: $h3-weight-regular;
}

.italic {
  font-style: $font-italic;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $dark-primary-color;
  -webkit-text-fill-color: $dark-primary-color;
  -webkit-box-shadow: none;
  transition: background-color 3000s ease-in-out 0s;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 70px 40px 40px;
  text-align: left;
}

@media (max-height: 896px) {
  .flex-container {
    height: calc(100vh - 160px);
  }
}

@media (max-width: 400px) {
  .flex-container {
    padding: 60px 25px 20px;
  }
}

@media (max-width: 374px) {
  .flex-container {
    height: calc(100vh - 180px);
  }

  h2 {
    font-size: 22px;
  }
}

@media (max-width: 350px) {
  .flex-container {
    padding: 40px 15px 20px;
  }
}
