// This file store any mixins (style snippets) that will be used over and over

// Example
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin fadeIn($property) {
  -webkit-animation: fadeIn $property;
  animation: fadeIn $property;
}
