// This file store any mixins (style snippets) that will be used over and over

// Example
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin fade-in($property) {
  -webkit-animation: fade-in $property;
  animation: fade-in $property;
}

@mixin fade-out($property) {
  -webkit-animation: fade-out $property;
  animation: fade-out $property;
}
