@import "../variables/_colors";
@import "../variables/_typography";
@import "../variables/_elements";

body{
  margin: 0;
  font-family: $font-family;
  font-weight: $font-regular;
  color: $font-color-primary;
  font-size: $font-size;
  line-height: 1;
  overflow: hidden;
}

code {
  font-family: $font-family;
}

h1, h2, h3, h4, h5{
  font-size: $header-h1-size;
  color: $header-main-dark-color;
  line-height: $header-h1-line-height;
  font-weight: $header-bold;
}

h1{
  text-transform: $header-h1-text-transform;
  letter-spacing: $header-h1-letter-sp;
}

h2{
  font-size: $header-h2-size;
  color: $header-secondary-dark-color;
}

h3{
  font-size: $header-h3-size;
  &.header-h3-light{
    color: $header-secondary-light-color;
  }
  &.header-h3-sec-dark{
    color: $header-secondary-dark-color;
    font-weight: $header-semi-bold;
  }
}

h4{
  font-size: $header-h4-size;
  text-transform: $header-h1-text-transform;
}

h5{
  font-size: $header-h5-size;
  font-weight: $header-semi-bold;
}

p, span{
  line-height: $line-height;
  letter-spacing: $letter-sp;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $link-color;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  line-height: $link-line-height;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
