@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open-sans/opensans-regular.woff2") format("woff2"),
       url("../../fonts/open-sans/opensans-regular.woff") format("woff"),
       url("../../fonts/open-sans/opensans-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open-sans/opensans-semibold.woff2") format("woff2"),
       url("../../fonts/open-sans/opensans-semibold.woff") format("woff"),
       url("../../fonts/open-sans/opensans-semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open-sans/opensans-bold.woff2") format("woff2"),
       url("../../fonts/open-sans/opensans-bold.woff") format("woff"),
       url("../../fonts/open-sans/opensans-bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
