@import "../../../sass/variables";

.title-container {
  margin-left: 35px;
  text-align: left;
  text-transform: uppercase;

  .title-short {
    font-size: 72px;
  }

  .title-long {
    margin-top: 26px;
    line-height: 27px;
    font-weight: $font-regular;
  }
}

@media (max-width: 400px) {
  .title-container {
    margin: 0;

    .title-long {
      margin-top: 18px;
    }

    .title-short {
      font-size: 68px;
    }
  }
}

@media (max-width: 350px) {
  .title-container .title-long {
    margin: 15px;
  }
}
