@import "../../sass/variables";
@import "../../sass/core/_keyframes";

.auth {
  .auth-content {
    font-weight: $font-regular;
    font-size: 24px;
    line-height: 33px;
  }

  .auth-button {
    margin: 70px 0 20px auto;
  }
  
  .resend-link-msg {
    font-weight: $font-semi-bold;
    font-style: italic;
    font-size: 17.5px;
    margin-top: 60px;
    line-height: 25px;
    text-align: center;
    @include fade-in(.4s);
  }
}

@media (max-height: 896px), (max-width: 350px) {
  .auth {
    .auth-button {
      margin: 50px 0 0 auto;
    }

    .resend-link-msg {
      font-size: 16px;
      margin-top: 45px;
    }
  }
}
