@import "../../sass/variables";

.home {
  padding: 40px 60px;

  .home-button {
    padding: 6px 40px;
    margin-top: 83px;
  }

  .home-text {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .home {
    padding: 25px 52px;

    .home-button {
      margin-top: 60px;
    }
  }
}

@media (max-width: 350px) {
  .home {
    padding: 15px 25px;

    .home-button {
      margin-top: 35px;
    }
  }
}
