@import "../../sass/_main.scss";

.home-container {
  padding: 35px 100px 145px;

  .home-name, .home-title {
    font-size: 5.14em;
    color: $header-main-dark-color;
    line-height: $header-h1-line-height;
    letter-spacing: 1px;
    font-weight: $header-bold;
    text-transform: $header-h1-text-transform;
  }

  .home-title {
    margin: 15px 0 60px;
    font-size: $header-h1-size;
    line-height: 27px;
    font-weight: $font-regular;
    text-align: left;
  }

  .home-button,
  .home-text,
  .home-link {
    display: flex;
    justify-content: center;
  }

  .home-button {
    font-size: 13px;
    line-height: 18px;
  }

  .home-text {
    font-size: 1.072em;
    line-height: 1;
    font-weight: $font-bold;
  }

  .home-link {
    font-size: 0.93em;
    line-height: 1.4;
    font-weight: $link-font-weight;
    text-transform: $header-h1-text-transform;
    color: $accent-blue-color;
    margin: 20px auto;
    letter-spacing: 0;
    cursor: pointer;
  }
}
