@import "../../sass/variables";

.dummy {
  padding: 215px 30px 100px;
  align-items: center;

  .dummy-content {
    line-height: 30px;
    font-weight: normal;
  }
}

@media (max-width: 450px) {
  .dummy {
    padding: 125px 20px 40px;
  }
}
