.app-header {
  padding: 83px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo {
  cursor: pointer;
  height: 111px;
  width: 172px;
}
