.app-header {
  padding: 73px 0 10px;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo {
  cursor: pointer;
  height: 111px;
  width: 172px;
}

@media (max-height: 896px) {
  .app-header {
    padding: 10px 0;
    height: 105px;
  }
}

@media (max-width: 400px) {
 .app-header {
   padding: 0;
 }
}
