@import "../../sass/variables";

.email-input-box {
    width: 246px;
    height: 43px;
    padding-left: 20px;
}

.error-msg {
    color: #EB5757;
    text-align: left;
    font-style: italic;
    width: 246px;
    height: 42px;
    font-size: 14;
    line-height: 20px;

    .error-link {
    color: #EB5757; 
    text-decoration: underline;
    }
}

.register-container {
  padding: 40px 90px;

  .register-name {
    font-size: 72px;
  }

  .register-title {
    margin: 26px 0 83px;
    line-height: 27px;
    font-weight: $font-regular;
    text-align: left;
    text-transform: uppercase;
  }

  .register-button {
    width: 156px;
    height: 30px;
    margin: 45px auto;
    margin-left: 38px;
    padding: 8px;
    color: blue; 
    font-weight: 200;
  }

  .register-button:disabled {
      background-color: gray;
      color: black;
      cursor: auto;
  }

  .register-button.placeholder {
    text-align: center;
  }

  .register-text {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: $font-bold;
  }
}

@media (max-width: 400px) {
  .register-container {
    padding: 40px 70px;
  }

  .register-container .register-title {
    margin: 18px 0 40px;
  }

  .register-container .register-name {
    font-size: 68px;
    text-align: left;
  }
}

@media (max-width: 350px) {
  .register-container {
    padding: 15px 52px;
  }

  .register-container .register-title {
    margin: 15px 0 35px;
  }
}
