@import '../../sass/variables';
@import '../../sass/core/keyframes';

.dashboard {
  padding: 20px;
  text-align: left;

  .user-name {
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}

.dashboard-nav {
  padding: 0 12px 0 20px;
  height: 400px;

  .dash-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    height: 100px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #D6D3CE;
    @include transition(.3s ease);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $accent-royal-blue-color;
    }

    .icon-wrapper {
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }

    .item-icon {
      width: 50px;
      height: auto;
      vertical-align: middle;
    }

    .item-name {
      font-size: $menu-font-size;
      font-weight: $font-semi-bold;
      line-height: 27px;
      letter-spacing: 0.5px;
      margin-left: 40px;
      vertical-align: top;
    }
  }
}

@media (max-height: 896px), (max-width: 414px) {
  .dashboard {
    padding: 10px;
    .user-name {
      margin-bottom: 20px;
    }
  }

  .dashboard-nav {
    padding: 0 20px;
    height: 390px;
  }

  .dashboard-nav .dash-nav-item {
    height: 78px;
    padding: 0 12px 0 30px;
    .item-name {
      font-size: 22px;
      line-height: 24px;
    }
  }

  .dashboard-nav .dash-nav-item .icon-wrapper {
    width: 45px;
    height: 45px;
  }

  .dashboard-nav .dash-nav-item .item-icon {
    width: 45px;
  }
}

@media (max-height: 667px) and (max-width: 850px) {
  .dashboard-nav {
    padding: 0 7px 0 0;
    height: 230px;
  }
}

// iphone 6/7/8
@media (max-height: 667px) and (max-width: 414px) {
  .dashboard-nav {
    padding: 0 20px;
    height: 300px;
  }

  .dashboard-nav .dash-nav-item {
    padding: 0 20px 0 30px;
  }
}

@media (max-width: 320px) {
  .dashboard-nav {
    padding: 0 7px 0 0;
    height: 210px;
  }

  .dashboard .user-name {
    margin-bottom: 10px;
  }

  .dashboard-nav .dash-nav-item {
    height: 72px;
  }
}
