// COLOR PALETTE VARIABLES
$light-primary-color: #FFFFFF;
$concrete-color: #f2f2f2;
$silver-color: #C4C4C4;
$gray-color: #828282;
$dark-primary-color: #000000;
$dark-secondary-color: rgba(0, 0, 0, 0.4);
$accent-royal-blue-color: #2F80ED;
$accent-burnt-sienna-color: #EB5757;
$accent-eucalyptus-color: #219653;
$accent-torch-red-color: #FA114F;

// FONT COLOR
$font-color: $dark-primary-color;

// HEADER COLORS
$header-color: $dark-primary-color;

// BUTTON COLORS
$button-primary-color: $dark-primary-color; 
$button-primary-bg-color: $light-primary-color;
$button-accent-color: $light-primary-color;
$button-accent-bg-color: $accent-eucalyptus-color;

// LINK COLORS
$link-color: $dark-primary-color;
$link-accent-color: $accent-royal-blue-color;

// APP BORDER COLOR
$border-color: $dark-secondary-color;
