@import "_typography";
@import "colors";

// Menu
$menu-font-size: 1.7em;
$menu-line-height: 2.35em;

// Link
$link-font-size: 1.29em;
$link-font-weight: $font-bold;
$link-line-height: 1.30em;

// Button
$button-primary-font-size: 1.071em;

// Border
$border-primary: 1px solid $border-color;
