@import "../core/_fonts";

/******* TYPOGRAPHY VARIABLES *******/
// Font main styles
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$line-height: 1;
$letter-sp: 0;
$font-regular: normal;
$font-italic: italic;
$font-bold: bold;
$font-semi-bold: 600;

/******* HEADERS *******/
// H1 - Main Page Header
$h1-size: 30px;
$h1-letter-sp: 1px;
$h1-text-transform: uppercase;
$h1-weight-bold: $font-bold;

// H2 - Section Page Header /Home page/Project/
$h2-size: 24px;
$h2-weight-semi-bold: $font-semi-bold;
$h2-weight-bold: $font-bold;

// H3 - Header /Profile section header/
$h3-size: 18px;
$h3-weight-bold: $font-bold;
$h3-weight-regular: $font-regular;
$h3-letter-sp-additional: -0.33px;

// H4 - Header
$h4-size: 15px;
$h4-text-transform: uppercase;
$h4-line-height: 24px;
$h4-weight-bold: $font-bold;

// H5 - Header
$h5-size: 14px;
$h5-letter-sp: -0.33px;
$h5-line-height: 19px;
$h5-weight-semi-bold: $font-semi-bold;

/******* MENU *******/
$menu-font-size: 24px;
$menu-line-height: 33px;
$menu-letter-sp: -0.33px;

/******* LINK *******/
$link-font-size: 14px;
$link-font-weight: $font-semi-bold;

/******* BUTTON *******/
$button-primary-font-size: 13px;
