.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .loader {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
  }
}
